body {
    font-family: arial,sans-serif;
}
#imagegoogle
{
    width: 480px;
    height: 320px;
    background: url('google.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.entete
{
 justify-content: flex-end;   
}
header {
    display: flex;
    justify-content:flex-end;
    
}
header a {
    margin: 10px;
}
input[type="text"] {
    border-radius: 50px;
    width: 480px;
    height: 35px;
    position: relative;
    left:calc(50% - 240px);
    top:-50px;
}
input[type="text"]:focus {
    box-shadow: 0px 5px 8px grey;
}
input[type="text"]:hover {
    box-shadow: 0px 5px 8px grey }
    
    
.boutons {
    border: 320px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
    
.baspage {
    justify-content: flex-start;
    align-items: flex-end;
    
    }

